@(recipe: Recipe, relatedRecipes: Seq[Recipe])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import play.api.libs.json._

@getWordFor(i: Int) = {
	@{i match {
		case 0 => {"first"}
		case 1 => {"second"}
		case 2 => {"third"}
		case _ => {"last"}
	}}
	
}

@isSaved() = @{
	session.get("user") match {
		case None => false
		case Some(u) => Json.fromJson[User](Json.parse(u)).get.savedRecipeIds.find(_ == recipe.id) != None 
	}
}

@isMyRecipe() = @{
	session.get("user") match {
		case None => false
		case Some(u) => Json.fromJson[User](Json.parse(u)).get.myRecipeIds.find(_ == recipe.id) != None 
	}
}

@main("NaturaHub") {

<body>

	<!-- MAIN -->
	<div id="main">
		<div class="wrapper cf">

			<!-- recipe display-->
			<div id="recipe-display" class="cf">

				<!-- project box -->
				<div id="project-box" class="cf">

					<!-- slider -->
					<div class="project-slider">
						<div class="flexslider">
							<ul class="slides">
								@for(photo <- recipe.photos){
									@if(photo.metadata.typeOf == "slider") {
										<li>
											<img src="@routes.Assets.at("img/tmp/"+photo.key)" alt="alt text" />
										</li>	
									}
								}
							</ul>
						</div>
					</div>
					<!-- ENDS slider -->

					<div class="info">
						<p>
							<strong>By </strong> @recipe.by
						</p>
						<p>
							<strong>Date </strong> @org.joda.time.format.DateTimeFormat.forPattern("dd-MMMM-YYYY").print(recipe.created)
						</p>
						
						@if(isMyRecipe()) {
							<p>
								<a href="@routes.RecipeController.edit(recipe.id)" class="launch" >Edit Recipe</a>
							</p>
							<p>
							
								@helper.form(action = routes.RecipeController.delete, 'id -> "deleteRecipeForm") {
									<input type="hidden" value="5158fde3b6f1b919c88a93ac" name="userId"/>
									<input type="hidden" value="@recipe.id" name="recipeId"/>
									<a href="" class="launch submitForm">Delete Recipe</a>
								}
							</p>
						}
						
						<p>
							@if(isSaved()) {
								@helper.form(action = routes.UserController.deleteFromFavorites, 'id -> "deleteFromFavoritesForm") {
									<input type="hidden" value="5158fde3b6f1b919c88a93ac" name="userId"/>
									<input type="hidden" value="@recipe.id" name="recipeId"/>
									<a href="" class="launch submitForm">Delete from Favorites</a>
								}
							}else {
								@helper.form(action = routes.UserController.saveToFavorites, 'id -> "saveToFavoritesForm") {
									<input type="hidden" value="5158fde3b6f1b919c88a93ac" name="userId"/>
									<input type="hidden" value="@recipe.id" name="recipeId"/>
									<a href="" class="launch submitForm">Save to Favorites</a>
								}
							}
						</p>
					</div>

					<!-- entry-content -->
					<div class="entry-content">

						<h2 class="heading">@recipe.name</h2>
						
						<!-- Ingredients -->
						<div class="toggle-trigger">Ingredients</div>
						<div class="toggle-container" style="display: none;">
							@for(i <- 0 to recipe.phases.length - 1) {
								<p>
									Phase @{i+1}: @recipe.phases(i).description
									<hr />
									@for(ing <- recipe.phases(i).ingredients) {
										<div>@ing</div>
									}
								</p>
							}
						</div>
						<!-- End of Ingredients -->
						<!-- Preparation Time -->
						<div class="toggle-trigger">Preparation Time</div>
						<div class="toggle-container" style="display: none;">
							@recipe.prepTime
						</div>
						<!-- End of Preparation Time -->
						<!-- Recipe yield -->
						<div class="toggle-trigger">Recipe yield</div>
						<div class="toggle-container" style="display: none;">
							@recipe.recipeYield
						</div>
						<!-- End of Recipe yield -->
						<!-- Directions -->
						<div class="toggle-trigger">Directions</div>
						<div class="toggle-container" style="display: none;">
							@recipe.directions
						</div>
						<!-- End of Directions -->
					</div>
					<!-- ENDS entry content -->

				</div>
				<!-- ENDS project box -->

				<!-- related -->
				<div class="related-projects">
					<h4 class="related-heading">Related recipes</h4>
					<div class="related-list cf">
						@for(relatedRecipe <- relatedRecipes) {
							<figure>
								<a href="@routes.RecipeController.get(relatedRecipe.id)" class="thumb"><img src="@routes.Assets.at("img/tmp/"+relatedRecipe.photos.find(_.metadata.typeOf == "slider").getOrElse(S3Photo.EMPTY).key)")" alt="Alt text" /></a>
								<a href="@routes.RecipeController.get(relatedRecipe.id)" class="heading">@relatedRecipe.name</a>
							</figure>
						}
					</div>
				</div>
				<!-- ENDS related -->

			</div>
			<!-- ENDS portfolio content-->

		</div><!-- ENDS WRAPPER -->
	</div>
	<!-- ENDS MAIN -->
</body>
<script>
	function bindtoSubmitFormLink(e) {
		e.preventDefault();
		$(this).closest("form").submit();
		return false;
	}
	$(function() {
		$('.submitForm').bind('click', bindtoSubmitFormLink);
	});
</script>
}