@(entry: BlogEntry, isShort: Boolean = true)(implicit request: RequestHeader)

<div class="box cf">
	<div class="entry-date">
		<div class="number">
			@entry.created.dayOfMonth().get
		</div>
		<div class="month">
			@org.joda.time.format.DateTimeFormat.forPattern("MMMM").print(entry.created)
		</div>
	</div>

	<div class="excerpt">
		<a href="@routes.BlogController.get(entry._id)" class="post-heading" >@entry.name</a>
		<p>
			@{entry.content.substring(100)} @if(isShort){...}
		</p>
		@if(isShort){
			<p>
				<a href="@routes.BlogController.get(entry._id)" class="learnmore">Learn More</a>
			</p>
		}
	</div>

	<div class="meta">
		<span class="format">@entry.entryType</span>
		<span class="user"><a href="#">By @entry.by </a></span>
		<span class="comments">16 comments</span>
		<span class="tags"> 
			@for(i <- 0 to entry.tags.length - 1) { 
				<a href="@routes.BlogController.byTag(entry.tags(i))">@entry.tags(i)</a>@if(i!=entry.tags.length-1){,}
			} 
		</span>
	</div>

</div>