@(entries: Seq[BlogEntry], categories: Seq[BlogCategory])(implicit request: RequestHeader)

<!-- jplayer -->
<link href="@routes.Assets.at("player-skin/jplayer-black-and-yellow.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@routes.Assets.at("js/jquery.jplayer.min.js")"></script>

@main("NaturaHub") {

<body class="blog">

	<!-- MAIN -->
	<div id="main">
		<div class="wrapper cf">

			<!-- posts list -->
			<div id="posts-list" class="cf">
				@for(entry <- entries) {
					@views.html.blog.common_part_entry(entry, true)
				}
				
				<!-- page-navigation -->
				<div class="page-navigation cf">
					<div class="nav-next">
						<a href="#">&#8592; Older Entries </a>
					</div>
					<div class="nav-previous">
						<a href="#">Newer Entries &#8594;</a>
					</div>
				</div>
				<!--ENDS page-navigation -->

			</div>
			<!-- ENDS posts list -->

			@views.html.blog.sidebar(categories)

		</div><!-- ENDS WRAPPER -->
	</div>
	<!-- ENDS MAIN -->
</body>
}

</html>