@()

<!-- HEADER -->
		<header>
			<div class="wrapper cf">
				
				<div id="logo">
					<a href="@routes.Application.index()"><img  src="@routes.Assets.at("img/logo.png")" alt="Simpler"></a>
				</div>
				
				<!-- nav -->
				<ul id="nav" class="sf-menu">
					<li><a href="@routes.Application.index()"><span>HOME</span></a></li>
					<li><a href="blog.html">BLOG</a></li>
					<li><a href="page.html">ABOUT</a>
						<ul>
							<li><a href="page-elements.html">Elements</a></li>
							<li><a href="page-icons.html">Icons</a></li>
							<li><a href="page-typography.html">Typography</a></li>
						</ul>
					</li>
					<li>
						<a href="contact.html">CONTACT</a>
					</li>
					<li>
						<a href="@routes.UserController.recipeBook("5158fde3b6f1b919c88a93ac")">RECIPE BOOK</a>
					</li>
				</ul>
				<div id="combo-holder"></div>
				<!-- ends nav -->

			</div>
		</header>
		<!-- ENDS HEADER -->
