@(recipes: Seq[Recipe])(implicit request: RequestHeader)

@main("home", recipes) {

<body class="home">
	
	<!-- MAIN -->
	<div id="main">
		<div class="wrapper cf" style="width: 100% !important">

			<!-- featured -->
			<div class="home-featured">

				<ul id="filter-buttons">
					<li>
						<a href="#" data-filter="*" class="selected">show all</a>
					</li>
					<li>
						<a href="#" data-filter=".beginner">beginner</a>
					</li>
					<li>
						<a href="#" data-filter=".intermediate">intermediate</a>
					</li>
					<li>
						<a href="#" data-filter=".advanced">advanced</a>
					</li>
					<!--li><a href="#" data-filter=".photo">photo</a></li-->
				</ul>
				
				<!-- Filter container -->
				<div id="filter-container" style="margin: 0 auto !important" class="cf">
					@for(i <- 0 to 5) {
					@for(recipe <- recipes) {
						<figure class="@recipe.level">
							<a href="@routes.RecipeController.get(recipe.id)" class="thumb"><img src="@recipe.photos.find(_.metadata.typeOf == "preview").getOrElse(S3Photo.EMPTY).getFullUrl" alt="alt" /></a>
							<figcaption>
								<a href="@routes.RecipeController.get(recipe.id)"><h3 class="heading">@recipe.name</h3></a>
								@recipe.shortDesc
							</figcaption>
						</figure>
					}
					}
				</div><!-- ENDS Filter container -->

			</div>
			<!-- ENDS featured -->

		</div><!-- ENDS WRAPPER -->
	</div>
	<!-- ENDS MAIN -->
</body>

}
