@(recipes: Seq[Recipe])(implicit request: RequestHeader)

@main("NaturaHub") {

<body class="home">
	
	<!-- MAIN -->
	<div id="main">
		<div class="wrapper cf">

			<!-- featured -->
			<div class="home-featured">

				<ul id="filter-buttons">
					<li>
						<a href="#" data-filter="*" class="selected">show all</a>
					</li>
					<li>
						<a href="#" data-filter=".beginner">beginner</a>
					</li>
					<li>
						<a href="#" data-filter=".intermediate">intermediate</a>
					</li>
					<li>
						<a href="#" data-filter=".advanced">advanced</a>
					</li>
					<!--li><a href="#" data-filter=".photo">photo</a></li-->
				</ul>

				<!-- Filter container -->
				<div id="filter-container" class="cf">
					
					@for(recipe <- recipes) {
						<figure class="@recipe.level">
							<a href="@routes.RecipeController.get(recipe._id)" class="thumb"><img src="@routes.Assets.at("img/tmp/"+recipe.photos.find(_.metadata.contains("preview")).get.key)" alt="alt" /></a>
							<figcaption>
								<a href="@routes.RecipeController.get(recipe._id)"><h3 class="heading">@recipe.name</h3></a>
								@recipe.shortDesc
							</figcaption>
						</figure>
					}
				</div><!-- ENDS Filter container -->

			</div>
			<!-- ENDS featured -->

		</div><!-- ENDS WRAPPER -->
	</div>
	<!-- ENDS MAIN -->
</body>

}
