@(title: String, recipes: Seq[Recipe] = Seq())(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html class="no-js">
    <head>
    	
    	<meta charset="utf-8"/>
		
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
		 
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js")"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/style.css")"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->		
				
		<!-- JS -->
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/custom.js")"></script>
		<script src="@routes.Assets.at("javascripts/tabs.js")"></script>
		<script src="@routes.Assets.at("javascripts/css3-mediaqueries.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.columnizer.min.js")"></script>
		
		<!-- Isotope -->
		<script src="@routes.Assets.at("javascripts/jquery.isotope.min.js")"></script>
		
		<!-- Lof slider -->
		<script src="@routes.Assets.at("javascripts/jquery.easing.js")"></script>
		<script src="@routes.Assets.at("javascripts/lof-slider.js")"></script>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/lof-slider.css")" media="all"  /> 
		<!-- ENDS slider -->
		
		<!-- Tweet -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.tweet.css")" media="all"  /> 
		<script src="@routes.Assets.at("javascripts/tweet/jquery.tweet.js")" ></script> 
		<!-- ENDS Tweet -->
		
		<!-- superfish -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/superfish.css")" /> 
		<script  src="@routes.Assets.at("javascripts/superfish-1.4.8/js/hoverIntent.js")"></script>
		<script  src="@routes.Assets.at("javascripts/superfish-1.4.8/js/superfish.js")"></script>
		<script  src="@routes.Assets.at("javascripts/superfish-1.4.8/js/supersubs.js")"></script>
		<!-- ENDS superfish -->
		
		<!-- prettyPhoto -->
		<script  src="@routes.Assets.at("javascripts/prettyPhoto/js/jquery.prettyPhoto.js")"></script>
		<link rel="stylesheet" href="@routes.Assets.at("javascripts/prettyPhoto/css/prettyPhoto.css")"  media="screen" />
		<!-- ENDS prettyPhoto -->
		
		<!-- poshytip -->
		<link rel="stylesheet" href="@routes.Assets.at("javascripts/poshytip-1.1/src/tip-twitter/tip-twitter.css")"  />
		<link rel="stylesheet" href="@routes.Assets.at("javascripts/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css")"  />
		<script  src="@routes.Assets.at("javascripts/poshytip-1.1/src/jquery.poshytip.min.js")"></script>
		<!-- ENDS poshytip -->
		
		<!-- JCarousel -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jcarousel.min.js")"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/carousel.css")" /> 
		<!-- ENDS JCarousel -->
		
		<!-- GOOGLE FONTS -->
		<link href="http://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet" type="text/css">

		<!-- modernizr -->
		<script src="@routes.Assets.at("javascripts/modernizr.js")"></script>
		
		<!-- SKIN -->
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/skin.css")"/>
		
		<!-- Less framework -->
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/lessframework.css")"/>
		
		<!-- flexslider -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/flexslider.css")"/>
		<script src="@routes.Assets.at("javascripts/jquery.flexslider.js")"></script>
		
		
		<!-- Twitter bootstrap -->
		<!--link rel="stylesheet" media="all" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))"/-->
		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>
		<!-- Twitter bootstrap select -->
		<script src="@routes.Assets.at("bootstrap-select/bootstrap-select.js")"></script>
		
		<!-- Bootstrap file upload -->
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/bootstrap-fileupload.css")"/>
		
    </head>
    <body>
    	@if(request.path=="/"){
    		@header_main(recipes)
    	} else {
    		@header_page()
    	}
        @content
        @footer()
    </body>
</html>
