@(recipeForm: Form[Recipe], recipe2: Option[Recipe] = None)(implicit request: RequestHeader)

<!-- reply move form -->
<!--script src="@routes.Assets.at("javascripts/moveform.js")"></script-->

@import views.html.helper._

@input(field: Field, required: Boolean, label: String, hint: String, value: String, nId: String = "") = {
	
		<label for="@field.id">@label @if(required){<span class="input_required">*</span>} 
			@if(field.hasErrors){
				<span class="error">@Messages(field.error.head.message)</span>
			}
		</label>
		<input id="@{field.id+nId}" name="@{field.id+nId}" title="@hint" type="text" value="@value" class="form-poshytip"/>
}

@textarea(field: Field, required: Boolean, label: String, hint: String, value: String) = {
	
		<label for="@field.id">@label @if(required){<span class="input_required">*</span>} 
			@if(field.hasErrors){
				<span class="error">@Messages(field.error.head.message)</span>
			}
		</label>
		<textarea  rows="5" cols="20" class="form-poshytip" id="@field.id" name="@field.id" title="@hint">
			@value
		</textarea>
}

@main("NaturaHub") {

<body class="page" onload="">
	<!-- MAIN -->
	<div id="main">
		<div class="wrapper cf">

			<!-- page content-->
			<div id="page-content" class="cf">

				<p>
					<h3>@if(recipeForm("id").value.nonEmpty){EDIT}else{ADD} RECIPE</h3>
				</p>
				<p>
					Use this form to @if(recipeForm("id").value.nonEmpty){edit your amazing}else{add a new exiting} recipe.
				</p>
				<!-- form -->
				<script type="text/javascript" src="@routes.Assets.at("javascripts/form-validation2.js")"></script>
				@helper.form(action = (if(!recipeForm("id").value.nonEmpty) routes.RecipeController.add else routes.RecipeController.submitEdit), 'id -> "recipeForm") {
					

						<p>
							@input(recipeForm("name"), true, "Recipe Name", "Enter recipe name", recipeForm("name").value.getOrElse(""))
						</p>
						
						<p>
							@textarea(recipeForm("shortDesc"), true, "Short description", "Enter short description. It will show up in search results.", recipeForm("shortDesc").value.getOrElse(""))
						</p>
						
						<p>
							@input(recipeForm("ingredients"), true, "Ingredients", "Enter recipe ingredients", 
								repeat(recipeForm("ingredients")) { ing =>
                					Html(ing.value.getOrElse(""))
       							}.foldLeft("")((b,a)=>a+", "+b).dropRight(2),
       							"[0]")
						</p>
						
						<p>
							@input(recipeForm("prepTime"), true, "Prep Time", "How long does it take to prepare a recipe?", recipeForm("prepTime").value.getOrElse(""))
						</p>
						
						<p>
							@input(recipeForm("recipeYield"), true, "Recipe Yield", "The resulted quantity", recipeForm("recipeYield").value.getOrElse(""))
						</p>
						
						<p>
							@textarea(recipeForm("directions"), true, "Directions", "Enter the recipe itself.", recipeForm("directions").value.getOrElse(""))
						</p>
						
						<p>
							@input(recipeForm("level"), true, "Difficulty level", "How difficult is to prepare this recipe?", recipeForm("level").value.getOrElse(""))
						</p>
						
						<p>
							@input(recipeForm("tags"), true, "Categories/Tags", "Categorize your recipe. It will help others to find your recipe.", 
								repeat(recipeForm("tags"), min = 1) { ing =>
                					Html(ing.value.getOrElse(""))
       							}.foldLeft("")((b,a)=>a+", "+b).dropRight(2),
       							"[0]")
						</p>

						<!-- hidden -->
						<input type="hidden" value="@recipeForm("id").value.getOrElse("-1")" name="id" id="id" />
						<input type="hidden" value="@recipeForm("created").value.getOrElse("2013")" name="created" id="created" />
						<input type="hidden" value="@recipeForm("by").value.getOrElse("Katrin")" name="by" id="by" />
						<!-- ENDS hidden -->

						<p>
							<div type="button" value="Submit" class="link-button" id="submit">Submit</div>
							<span id="error" class="warning">Message</span>
						</p>
					

				}
				<p id="sent-form-msg" class="success">
					Form data sent. Thanks for your comments.
				</p>
				<!-- ENDS form -->

			</div>
			<!-- ENDS page content-->

		</div><!-- ENDS WRAPPER -->
	</div>
	<!-- ENDS MAIN -->
</body>
<script>
	function bindtoSubmit(e) {
		e.preventDefault();
		$("#recipeForm").submit();
		return false;
	}
	$(function() {
		$('#recipeForm #submit').bind('click', bindtoSubmit);
	});
</script>
}