@(recipe: Recipe, relatedRecipes: Seq[Recipe])(implicit request: RequestHeader)

<!-- jplayer -->
<link href="@routes.Assets.at("player-skin/jplayer-black-and-yellow.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jplayer.min.js")"></script>

@main("NaturaHub") {

<body>

	<!-- MAIN -->
	<div id="main">
		<div class="wrapper cf">

			<!-- portfolio content-->
			<div id="portfolio-content" class="cf">

				<!-- project pager -->
				<div class="project-pager cf">
					<a class="previous-project" href="#">&#8592; Previous project</a>
					<a class="next-project" href="#">Next project &#8594;</a>
				</div>
				<!-- ENDS project pager -->

				<!-- project box -->
				<div id="project-box" class="cf">

					<!-- slider -->
					<div class="project-slider">
						<div class="flexslider">
							<ul class="slides">
								@for(photo <- recipe.photos){
									@if(photo.metadata.contains("slider")) {
										<li>
											<img src="@routes.Assets.at("img/tmp/"+photo.key)" alt="alt text" />
										</li>	
									}
								}
							</ul>
						</div>
					</div>
					<!-- ENDS slider -->

					<div class="info">
						<p>
							<strong>By </strong> @recipe.by
						</p>
						<p>
							<strong>Date </strong> @org.joda.time.format.ISODateTimeFormat.date().print(recipe.created)
						</p>
						<p>
							<a href="@routes.RecipeController.edit(recipe._id)" class="launch" >Edit Recipe</a>
						</p>
						<p>
							<a href="@routes.RecipeController.delete(recipe._id)" class="launch" >Delete Recipe</a>
						</p>
					</div>

					<!-- entry-content -->
					<div class="entry-content">

						<h2 class="heading">@recipe.name</h2>

						<div class="multicolumn">
							<p>
								@recipe.directions
							</p>

						</div>
					</div>
					<!-- ENDS entry content -->

				</div>
				<!-- ENDS project box -->

				<!-- related -->
				<div class="related-projects">
					<h4 class="related-heading">Related recipes</h4>
					<div class="related-list cf">
						@for(relatedRecipe <- relatedRecipes) {
							<figure>
								<a href="@routes.RecipeController.get(relatedRecipe._id)" class="thumb"><img src="@routes.Assets.at("img/tmp/"+relatedRecipe.photos.find(_.metadata.contains("slider")).get.key)")" alt="Alt text" /></a>
								<a href="@routes.RecipeController.get(relatedRecipe._id)" class="heading">@relatedRecipe.name</a>
							</figure>
						}
					</div>
				</div>
				<!-- ENDS related -->

			</div>
			<!-- ENDS portfolio content-->

		</div><!-- ENDS WRAPPER -->
	</div>
	<!-- ENDS MAIN -->
</body>

}